/cache/
/vendor/
/node_modules/
/build_local/
/build_production/
npm-debug.log
yarn-error.log
/source/assets/build/css/
/source/assets/build/fonts/
/source/assets/build/js/

# Eclipse
.buildpath
.project
.settings

# VI
*.swp

# vscode
/.idea
/.vscode/
