{% if site.env == 'dev' %}
  <style>
      #dump {
          padding: 10px 10px 50px;
          display: none;
          margin: auto;
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background: white;
          max-height: 80vh;
          overflow: auto;
          border-top: solid 1px #ddd;
          box-shadow: 0 0 30px #999;
          box-sizing: border-box;
      }
      #dump .dump-header {
          background-color: #eee;
          margin-bottom: 0;
          padding: 0;
          font-family: monospace;
          font-size: 16px;
      }
      #dump .dump-key {
          display: inline-block;
          padding: 5px;
      }
      #dump a {
          display: inline-block;
          padding: 5px 10px;
          background: #1db135;
          color: white;
          text-decoration: none;
          opacity: 0.8;
      }
      #dump a:hover {
          opacity: 1;
      }
      #dump a.active {
          background: #ff4836;
      }
      #dump h1 {
          color: #555;
          font-weight: normal;
          font-size: 16px;
          font-family: monospace;
      }
      #dump-content {
          padding: 0;
          margin: 0 auto;
          max-width: 1366px;
      }
      .dump-header {
          margin-top: 10px;
      }
      .dump-value {
          border: solid 1px #eee;
          padding: 0 15px;
      }
      a#dump-trigger {
          display: block;
          width: 50px;
          position: fixed;
          bottom: 0;
          left: 0;
          text-align: center;
          opacity: 1;
          background: #ff6516;
          color: white;
          text-decoration: none;
          padding: 5px;
          margin: 2px;
          border-radius: 3px;
          z-index: 10001;
          font-size: 14px;
          font-family: monospace;
      }
      a#dump-trigger:hover {
          background: #ff7808;
      }
  </style>
  
  <a href="#" id="dump-trigger">dump</a>
  <div id="dump">
      <div id="dump-content">
          <h1>Variables passed to the view:</h1>
          {% for key, value in _context %}
              {% if key starts with '_' %}
              {% else %}
                  <div class="dump-header">
                      <a href="#" data-name="{{ key }}">+</a>
                      <div class="dump-key">{{ key }}</div>
                  </div>
                  <div class="dump-value" id="dump-{{ key }}" style="display: none"><pre>{{ dump(value) }}</pre></div>
              {% endif %}
          {% endfor %}
      </div>
  </div>
  
  <script>
      document.getElementById('dump').addEventListener('click', function(e) {
          var valueDiv = document.getElementById('dump-' + e.target.dataset.name);
  
          e.preventDefault();
  
          if (e.target.localName === 'a') {
  
              if (valueDiv.style.display === 'block') {
                  valueDiv.style.display = 'none';
                  e.target.innerHTML = '+';
                  e.target.classList.remove('active');
              } else {
                  valueDiv.style.display = 'block';
                  e.target.innerHTML = '-';
                  e.target.classList.add('active');
              }
          }
      });
      document.getElementById('dump-trigger').addEventListener('click', function(e) {
          var dumpBox = document.getElementById('dump');
          e.preventDefault();
          dumpBox.style.display = dumpBox.style.display === 'block' ? 'none' : 'block';
      });
  </script>
{% endif %}