<!DOCTYPE html>
<html>
  {% include 'head' %}
  <body>
    <div class="page-wrap">
      {% include 'header' %}
      <!-- Content-->
      <div class="md-content">
        {% block content %}{% endblock %}
      </div>
      <!-- End / Content-->
      <!-- footer -->
      {% include 'footer' %}
      <!-- End / footer -->
      
    </div>
    {% include 'script' %}
  </body>
</html>