<footer class="footer">
  <div class="footer__main">
    <div class="row row-eq-height">
      <div class="col-8 col-sm-7 col-md-9 col-lg-3 ">
<<<<<<< HEAD
        <div class="footer__item"><a class="consult_logo" href="#"><!-- <img src="img/logo.png" alt=""/> --> </a>
=======
        <div class="footer__item"><a class="consult_logo" href="#"><img src="/img/logo.png" alt=""/></a>
>>>>>>> cccf918a6dc06356d0baf1da554a1505d492a956
          <p>{{ site.title }} - Soluções Tecnológicas</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
        <div class="footer__item">
            
            <!-- widget-text__widget -->
            <section class="widget-text__widget widget">
              <div class="widget-text__content">
                <ul>
                  <li><a href="https://github.com/LyseonTech">GitHub</a></li>
                  <li><a href="https://www.linkedin.com/company/lyseontech/">LinkedIn</a></li>
                  <li><a href="https://twitter.com/LyseonTech">Twitter</a></li>
                </ul>
              </div>
            </section><!-- End / widget-text__widget -->
            
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
        <div class="footer__item"><a href="#" id="back-to-top"> <i class="fa fa-angle-up" aria-hidden="true"> </i><span>Voltar para o topo</span></a></div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">&copy; {{ "now"|date("Y") }} {{ site.title }}</div>
</footer>