<!-- header -->
<header class="header header__style-02">
  <div class="container">
    <div class="header__logo"><a href="/"><img src="img/logo.png" alt=""/></a></div>
    <div class="header__toogleGroup">
      <div class="header__chooseLanguage">
              
              <!-- dropdown -->
              <div class="dropdown" data-init="dropdown"><a class="dropdown__toggle" href="javascript:void(0)">EN <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <div class="dropdown__content" data-position="right">
                  <ul class="list-style-none">
                    <li><a href="#">EN</a></li>
                    <li><a href="#">DE</a></li>
                    <li><a href="#">VI</a></li>
                  </ul>
                </div>
              </div><!-- End / dropdown -->
              
      </div>
      <div class="search-form">
        <div class="search-form__toggle"><i class="ti-search"></i></div>
        <div class="search-form__form">
                  
                  <!-- form-search -->
                  <div class="form-search">
                    <form>
                      <input class="form-control" type="text" placeholder="Hit enter to search or ESC to close"/>
                    </form>
                  </div><!-- End / form-search -->
                  
        </div>
      </div>
    </div>
    
    <!-- consult-nav -->
    <nav class="consult-nav">
      
      <!-- consult-menu -->
      <ul class="consult-menu">
        <li class="current-menu-item"><a href="/">Home</a></li>
        <li><a href="sobre">sobre</a></li>
        <li class="menu-item-has-children"><a href="#">page</a>
          <ul class="sub-menu">
            <li><a href="comming-soon.html">Comming Soon</a></li>
            <li><a href="404.html">404</a></li>
            <li><a href="typography.html">Typography</a></li>
          </ul>
        </li>
        <li><a href="service.html">services</a></li>
        <li class="menu-item-has-children"><a href="project.html">project</a>
          <ul class="sub-menu">
            <li><a href="project-detail.html">Project detail</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="blog.html">blog</a>
          <ul class="sub-menu">
            <li><a href="blog-detail.html">Blog detail</a></li>
          </ul>
        </li>
        <li><a href="contato">Contato</a></li>
      </ul><!-- consult-menu -->
      
      <div class="navbar-toggle"><span></span><span></span><span></span></div>
    </nav><!-- End / consult-nav -->
    
  </div>
</header><!-- End / header -->