<!-- header -->
<header class="header {{ page.header.transparent ? 'header__style-02' : ''  }}">
  <div class="container">
    <div class="header__logo"><a href="/"><img src="img/logo.png" alt=""/></a></div>
    <div class="header__toogleGroup">
      <div class="header__chooseLanguage">
              
              <!-- dropdown -->
              <div class="dropdown" data-init="dropdown">
                <a class="dropdown__toggle" href="javascript:void(0)">PT <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <div class="dropdown__content" data-position="right">
                  <ul class="list-style-none">
                    <li><a href="#">PT</a></li>
                    <li><a href="#">EN</a></li>
                    <li><a href="#">FR</a></li>
                  </ul>
                </div>
              </div><!-- End / dropdown -->
              
      </div>
      <div class="search-form">
        <div class="search-form__toggle"><i class="ti-search"></i></div>
        <div class="search-form__form">
                  
                  <!-- form-search -->
                  <div class="form-search">
                    <form>
                      <input class="form-control" type="text" placeholder="Hit enter to search or ESC to close"/>
                    </form>
                  </div><!-- End / form-search -->
                  
        </div>
      </div>
    </div>
    <!-- consult-nav -->
    <nav class="consult-nav">
      <!-- consult-menu -->
      <ul class="consult-menu">
        <li{% if page.url == '/.' %} class="current-menu-item"{% endif %}><a href="/">Home</a></li>
        <li{% if page.url == '/sobre' %} class="current-menu-item"{% endif %}><a href="sobre">Sobre</a></li>
        <li{% if page.url == '/solucoes' %} class="current-menu-item"{% endif %}><a href="solucoes">Soluções</a></li>
        <li{% if page.url == '/blog' %} class="current-menu-item"{% endif %}><a href="blog">Blog</a></li>
        <li{% if page.url == '/trabalhe-conosco' %} class="current-menu-item"{% endif %}><a href="trabalhe-conosco">Trabalhe conosco</a></li>
        <li{% if page.url == '/contato' %} class="current-menu-item"{% endif %}><a href="contato">Contato</a></li>
      </ul><!-- consult-menu -->
      
      <div class="navbar-toggle"><span></span><span></span><span></span></div>
    </nav><!-- End / consult-nav -->
    
  </div>
</header><!-- End / header -->