<!DOCTYPE html>
<html>
  <head>
    {% include 'head' %}
  </head>
  <body>
    <div class="page-wrap">
      {% include 'header' %}
      <!-- Content-->
      <div class="md-content">
        <!-- Section -->
        <section class="md-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
                
                <!-- title-01 -->
                <div class="title-01 title-01__style-04">
                  <h6 class="title-01__subTitle">{{ page.header.subtitle }}</h6>
                  <h2 class="title-01__title">{{ page.header.title }}</h2>
                  <div>asdfadsf asd fasdfasdf asdfasdf</div>
                </div><!-- End / title-01 -->
                
              </div>
            </div>
          </div>
        </section>
        <!-- End / Section -->
        {% block content %}{% endblock %}
        
      </div>
      <!-- End / Content-->
      <!-- footer -->
      {% include 'footer' %}
      <!-- End / footer -->
      
    </div>
    {% include 'script' %}
  </body>
</html>