.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  background: #eeeeee;
  padding: 10px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  align-items: center;
  margin-bottom: 20px;

  input {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    padding: 0 35px;
  }

  svg {
    position: absolute;
    left: 30px;
  }
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2rem;
  line-height: 1.1;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    input {
      margin-right: 10px;
    }

    margin-bottom: 14px;
  }
}
