/* Services Section
--------------------------------*/

#services {
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  background: #74b5fc;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

#services .box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#services .icon {
  position: absolute;
/*   left: -10px;
  top: calc(50% - 32px); */
  right: 10px;
  top: 10px;
}

#services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

#services .icon .php {
  position: absolute;
  width: 300px;
  right: -200px;
}

#services .icon .js {
  position: absolute;
  width: 100px;
  top: -10px;
  right: -15px;
}

#services .icon .mariadb {
  position: absolute;
  width: 300px;
  left: -600px;
  top: 60px;
}

#services .icon .postgre {
  position: absolute;
  width: 180px;
  right: -80px;
  top: 30px;
}

#services .title {
  /* margin-left: 40px; */
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title{
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  margin-right: 40px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #e5332aff;
}

#services .description {
  font-size: 14px;
  /* margin-left: 40px; */
  line-height: 24px;
  margin-bottom: 0;
}

#services .description-php{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-right: 100px;
}

#services .description-js{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-right: 50px;
}

#services .description-mariadb{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-left: 85px;
}

#services .description-postgre{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-right: 115px;
}
