#why-us {
  padding: 60px 0;
  background: #e5332a;;;
}

#why-us p {
  color: #444;
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}

#why-us .card {
  border-color: rgb(197, 212, 245);
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#why-us .card:hover {
  background: white;
  border-color: white;
}

#why-us .card i {
  font-size: 25px;
  padding-top: 15px;
  color: #e5332aff;
}

#why-us .card ion-icon {
  font-size: 55px;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card .readmore {
  color: gray;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: gray solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}
