name: Composer Validate

on: pull_request
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: Set up php 8.4
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
      - name: Validate composer files
        run: composer validate --strict
